services:
  app:
    container_name: app
    image: app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    volumes:
      - ./:/app
      - ./node_modules:/app/node_modules
    depends_on:
      - postgres
  postgres:
    container_name: postgres
    image: postgres:17
    ports:
      - "5432:5432"